<mat-card>
  <form  #postForm="ngForm" (submit)="getSignUp(postForm)">
    <mat-form-field>
      <input matInput
      type="email"
      name="email"
      placeholder ="E-mail"
      ngModel
      required
      email
      #email = "ngModel">
      <mat-error *ngIf="email.invalid">
        Email is <strong>Invalid</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput
      type="text"
      name="password"
      placeholder ="Password"
      ngModel
      required
      #password = "ngModel">
       <mat-error *ngIf="password.invalid">
        Password is <strong>Invalid</strong>
      </mat-error>
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit">SignUp</button>
  </form>
</mat-card>


