<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form [formGroup]="form" (submit)="onSavePost()"  *ngIf="!isLoading">
    <mat-form-field>
      <input matInput
      type="text"
      name="title"
      formControlName="title"
      placeholder ="Title"
     >
      <mat-error *ngIf="form.get('title').invalid">
        Title is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput
      type="text"
      name="imageUrl"
      formControlName="imageUrl"
      placeholder ="Enter the image url"
     >
      <mat-error *ngIf="form.get('imageUrl').invalid">
        Image Url is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <textarea
      matInput
       name="content"
       placeholder ="Content"
       formControlName="content"
       ></textarea>
       <mat-error *ngIf="form.get('content').invalid">
        Content is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit">Save Post</button>
  </form>
</mat-card>
